.banner-container {
  display: table;
  width: 100%;
  background: url("https://i.ibb.co/hXR3RZ9/online-streaming-cinema-man-watching-movies-using-digital-tablet-popcorn-d-glasses-clapboard-enterta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
